.initials-round {
  border-radius: 50%;
  background-color: grey;
  width: 64px;
  height: 64px;
  color: white;
  font-weight: bold;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
